<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a [routerLink]="['companies']"
      routerLinkActive="active" class="nav-link">
        Companies
      </a>
    </li>
    <li>
      <a [routerLink]="['crew']"
      routerLinkActive="active" class="nav-link text-white">
        Crew
      </a>
    </li>
    <li>
      <a [routerLink]="['records']"
      routerLinkActive="active" class="nav-link text-white">
        Records
      </a>
    </li>
    <li>
      <a [routerLink]="['ship']"
      routerLinkActive="active" class="nav-link text-white">
        Ship
      </a>
    </li>
  </ul>
  <hr>
</div>