<div class="row">
  <div class="col-md-9 offset-md-2 mt-4">
    <div class="mt-4 mb-4">
      <button>Add Company</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Company</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td><button>Button</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td><button>Button</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td><button>Button</button></td>
        </tr>
      </tbody>
</table>
  </div>
</div>